<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<title>添加-></title><br>
<form method="post" action="insert">
    姓名：<input name="name" />
    年龄：<input name="age" />
    类型：<input name="type" />
    <input type="submit" value="添加"/>
</form>
<title>ID搜索-></title><br>
<form method="get" action="find">
    ID：<input name="id" />
    <input type="submit" value="搜索"/>
</form>
<title>ID删除-></title><br>
<form method="get" action="deleteById">
    ID：<input name="id" />
    <input type="submit" value="删除"/>
</form>
<a href="findAll">查全部</a>
</body>
</html>